<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />

  <title>Document</title>
</head>

<body>
  <%- include('nav.ejs') %>

    <ul class="list-group">
      <% for (var i=0; i < posts.length; i++){ %>
        <li class="list-group-item">
          <h4> Title : <%= posts[i].title %>
          </h4>
          <p> Date : <%= posts[i].date %>
          </p>
          <p> Is Completed : <%= posts[i].isCompleted %>
          </p>
          <p> ID : <%= posts[i].postID %>
          </p>
          <p> Category : <%= posts[i].category %>
          </p>
          <button class="detail" data-id="<%= posts[i].postID%>">Detail</button>
          <button class="edit" data-id="<%= posts[i].postID%>">Edit</button>
          <button class="delete" data-id="<%= posts[i].postID %>">Delete</button>
          <button class="completed" data-id="<%= posts[i].postID %>">Mark Complete</button>
          <button class="category" data-id="<%= posts[i].postID %>">Category</button>
        </li>
        <% } %>
    </ul>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
      $('.delete').click(function (e) {
        console.log(e.target.dataset.id);
        $.ajax({
          method: 'DELETE',
          url: `/delete?postID=${e.target.dataset.id}`,
          data:{test:true}
        }).done((res) => {
          $(this).parent('li').fadeOut();
          location.reload(); // refresh the page
        }).fail((xhr, code, err) => {
          // failure
        });
      });    
    </script>
    <script>
      const detailBtns = document.querySelectorAll('.detail');

      detailBtns.forEach((btn) => {
      const postId = btn.dataset.id;

      btn.addEventListener('click', () => {
        window.location.href = `/detail/${postId}`;
        console.log('deleted')
      });
    });
    </script>
    <script>
      const editBtns = document.querySelectorAll('.edit');

      editBtns.forEach((btn) => {
      const postId = btn.dataset.id;

      btn.addEventListener('click', () => {
        window.location.href = `/update/${postId}`;
      });
    });
    </script>
    <script>
      $('.completed').click(function (e) {
        console.log(e.target.dataset.id);
        $.ajax({
          method: 'PUT',
          url: `/completed/${e.target.dataset.id}`,
          contentType: 'application/json',
          data:JSON.stringify({test: true}),
          success: function (result){
            location.reload(); // refresh the page
          },
          error: function(xhr,code,err){ // refresh the page
            console.error(err);
          }
          // failure
        });
      });    
    </script>
    <script>
      const categoriesBtns = document.querySelectorAll('.category');

      categoriesBtns.forEach((btn) => {
      const postId = btn.dataset.id;

      btn.addEventListener('click', () => {
        window.location.href = `/categories/${postId}`;
      });
    });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"></script>
</body>

</html>