<!-- update.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Post</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
</head>
<body>
    <%- include('nav.ejs') %>
    <div class="container">
        <h1 class="my-4">Update Post</h1>
        <h1 class="my-4">Post ID: <%= data.postID %></h1>
            <div class="alert alert-danger" role="alert">
            </div>
            <form action="/update/${data.postID}" method="POST">
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" class="form-control" id="title" name="title" value="<%= data.title %>">
            </div>
            <div class="form-group">
                <label for="date">Date:</label>
                <input type="text" class="form-control" id="date" name="date" value="<%= data.date %>">
            </div>
            <button type="button" class="update" data-post-id="<%= data.postID%>">update</button>
        </form>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script>
        $('.update').click(function (e) {
            e.preventDefault();
            const postId = e.target.dataset.postId;
            const updatePost = {
                title: $('#title').val(),
                date: $('#date').val()
            };
            $.ajax({
                method: 'PUT',
                url: `/update/${postId}`,
                // dataset.id is from: data-id= posts[i]._id 
                data: updatePost
            }).done((res) => {
                window.location.href = `/list`; // refresh the page
            }).fail((xhr, code, err) => {
              // failure
            });
        });  
    </script>
</body>
</html>
